In [5]:
# Jupyter notebook
import pandas as pd
import glob

In [6]:
clinical_codes = pd.read_csv(r'../exa-data-analyst-assessment/data/clinical_codes.csv')
patient = pd.read_csv(r'../exa-data-analyst-assessment/data/patient.csv')
patient

,age,postcode,patient_surname,patient_givenname,date_of_birth,date_of_death,registration_guid,patient_id,gender
0,0,HX2 8WG,Bibi,Maureen,2023-02-11 00:00:00,NaN,9A70C9CD-D0F7-43F3-A05C-34C8F192E00C,10457,Female
1,0,LS10 8MH,O'Brien,Karen,2022-11-08 00:00:00,NaN,57E3019C-25E6-4591-AA6D-3139AF37DC3F,11488,Female
2,0,WF17 2XU,Turner,Mark,2023-01-28 00:00:00,NaN,A1700F02-134E-42FF-B537-1B7DA00F8C25,9844,Male
3,0,WF13 3RJ,Law,Frederick,2022-12-05 00:00:00,NaN,CEDE39B9-9261-4B21-9E07-92D4308E87D5,9972,Male
4,0,LS99 9ZZ,Connor,Emerald,2022-11-17 00:00:00,NaN,9532DEBE-42CC-40E4-820A-55DF603E0D23,18955,Indeterminate
...,...,...,...,...,...,...,...,...,...
4538,0,LS99 9ZZ,Lyons,Ahmir,2023-01-08 00:00:00,NaN,61CE65F5-271B-4151-8700-70DE00CC0A9B,29589,Female
4539,0,LS99 9ZZ,Williamson,Cyrus,2023-02-09 00:00:00,NaN,4C16CFF4-520C-4B1C-8B03-9B214BDFAC76,19592,Female
4540,0,LS99 9ZZ,Healy,Kamari,2022-12-10 00:00:00,NaN,21107E5F-CE16-4669-9B6E-43671212E9D0,27505,Indeterminate
4541,0,LS99 9ZZ,Bolton,Zachariah,2022-11-23 00:00:00,NaN,9F8F0E53-7252-4998-A035-6809941C8A83,30629,Male
4542,0,LS99 9ZZ,Johnson,Adrianna,2022-12-05 00:00:00,NaN,F2E5C6F8-52B3-477B-83B2-955A9BB227A5,26947,Female

In [37]:
# Creates a varaible name for each medication file in folder [medication1, medication2, ... ,medicationx]

# Note that variables 0 to 14 are now mapped to filenames 1, 10, 11, 12, 13, 14, 15, 2, 3, 4, 5, 6, 7, 8, 9 respectively

medication_list = glob.glob(r'../exa-data-analyst-assessment/data/medication/*.csv')
for n, val in enumerate(medication_list):
    globals()["medication%d"%n] = pd.read_csv(val)

# Creates a variable name for each observation file in folder [observation1, observation2, ..., observationx]

# Note that variables 0 to 11 are now mapped to filenames 1, 10, 11, 12, 2, 3, 4, 5, 6, 7, 8, 9 respectively

observation_list = glob.glob(r'../exa-data-analyst-assessment/data/observation/*.csv')
for n, val in enumerate(observation_list):
    globals()["observation%d"%n] = pd.read_csv(val)

C:\Users\User\AppData\Local\Temp\ipykernel_2624\1854172628.py:15: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  globals()["observation%d"%n] = pd.read_csv(val)
C:\Users\User\AppData\Local\Temp\ipykernel_2624\1854172628.py:15: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  globals()["observation%d"%n] = pd.read_csv(val)
C:\Users\User\AppData\Local\Temp\ipykernel_2624\1854172628.py:15: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  globals()["observation%d"%n] = pd.read_csv(val)
C:\Users\User\AppData\Local\Temp\ipykernel_2624\1854172628.py:15: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  globals()["observation%d"%n] = pd.read_csv(val)
C:\Users\User\AppData\Local\Temp\ipykernel_2624\1854172628.py:15: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  globals()["observation%d"%n] = pd.read_csv(val)

,abnormal,emis_code_id,comparator,confidential_flag,confidential_patient_flag,consultation_source_emis_code_id,consultation_source_emis_original_term,document_guid,dummy_patient_flag,effective_date,...,sensitive_patient_flag,snomed_concept_id,snomed_description_id,emis_parent_observation_guid,exa_parent_observation_guid,uom,uom_ucum,user_selected,numericvalue,value_pq_2
0,False,254063019,NaN,False,False,1.672871e+15,Main Surgery,NaN,False,1999-08-12 00:00:00,...,False,163020007,254063019,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,False,259803019,NaN,False,False,1.672871e+15,Main Surgery,NaN,False,2000-01-13 00:00:00,...,False,167273002,259803019,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,False,215711000006110,NaN,False,False,1.672871e+15,Main Surgery,NaN,False,2000-02-03 00:00:00,...,False,286647002,426047013,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,False,253669010,NaN,False,False,1.672871e+15,Main Surgery,NaN,False,2003-11-21 00:00:00,...,False,248333004,370729019,NaN,NaN,cm,cm,NaN,150.0,NaN
4,False,173141000006118,NaN,False,False,1.672871e+15,Main Surgery,NaN,False,2004-12-30 00:00:00,...,False,182918009,173141000006118,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23181,False,1208954011,NaN,False,False,1.672871e+15,Main Surgery,NaN,False,2001-03-23 00:00:00,...,False,370202007,1208954011,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23182,False,254063019,NaN,False,False,1.672871e+15,Main Surgery,NaN,False,2003-12-03 00:00:00,...,False,163020007,254063019,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23183,False,264567012,NaN,False,False,1.672871e+15,Main Surgery,NaN,False,2000-10-08 00:00:00,...,False,170656008,264567012,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23184,True,1495289019,NaN,False,False,1.672871e+15,General Practice Surgery,NaN,False,2004-02-29 00:00:00,...,False,997531000000108,2572661000000117,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23185,False,259579011,NaN,False,False,NaN,NaN,NaN,False,2005-04-06 00:00:00,...,False,1010601000000105,2564971000000119,265A7273-2863-4AAF-BDF7-881DD528BAB2,2455013f-7c79-5b3d-90f9-03fec5de7d9c,mmol/L,mmol/L,NaN,1.1,NaN